*
{
    margin: 0;
}

.cs_hidden
{
    display: none !important;
}

#cs_app
{
    float: none;
    width: 800px;
    content: '';
    margin: 10px auto 10px auto;
}

#cs_head
{
    float: left;
    width: 800px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#cs_head #cs_join,
#cs_head #cs_profile_info,
#cs_head #cs_write
{
    float: left;
}

#cs_head button
{
    margin: 10px 5px;
}
#cs_contents_wrap
{
    float: left;
    width: 800px;
    height: 600px;
    border: 1px solid #bbb;
    border-radius: 5px;
    overflow: hidden;
}

#cs_contents_wrap #cs_contents
{
    float: left;
    width: 800px;
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#cs_contents_wrap #cs_indicator_wrap
{
    display: flex;
    float: left;
    height: 40px;
    width: 800px;
    border-top: 1px solid #bbb;
}

#cs_indicator_wrap #cs_indicator
{
    display: flex;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#cs_indicator_wrap #cs_indicator .cs_page_prev,
#cs_indicator_wrap #cs_indicator .cs_page_next
{
    align-self: center;
    text-align: center;
    text-decoration: none;
}

#cs_indicator_wrap #cs_indicator .cs_pages
{
    width: 500px;
    margin: 0 auto;
    align-self: center;
    text-align: center;
}

#cs_indicator_wrap #cs_indicator .cs_pages .cs_page
{
    margin: 0 5px;
    text-decoration: none;
}
#cs_indicator_wrap #cs_indicator .cs_pages .cs_page.cs_current_page
{
    font-weight: bold;
    pointer-events: none;
}

#cs_contents .cs_content
{
    display: flex;
    float: left;
    width: 800px;
    padding: 10px 10px;
    min-height: 70px;
    border-bottom: 1px solid #bbb;
}

.cs_content .cs_profile,
.cs_content .cs_comment,
.cs_content .cs_opinion,
.cs_content .cs_delete,
.cs_content .cs_time
{
    align-self: center;
    float: left;
    margin: 0 5px;
}
.cs_content .cs_profile
{
    width: 200px;
}

.cs_content .cs_profile .cs_image
{
    width: 70px;
    height: 70px;
    padding: 1px;
    border: 1px solid #bbb;
    border-radius: 5px;
    object-fit: cover;
}
.cs_content .cs_profile .cs_name
{
    margin-left: 10px;
}

.cs_content .cs_comment
{
    width: 250px;
    overflow-wrap: break-word;
}

.cs_content .cs_opinion
{
    width: 150px;
}

.cs_content .cs_delete
{
    width: 45px;
    margin: 0 5px;
}

.cs_content .cs_delete.cs_hidden
{
    visibility: hidden;
    display: inherit !important;
}

.cs_content .cs_opinion button
{
    width: 70px;
}

.cs_content .cs_time
{
    width: 100px;
}
