<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="App" ng-controller="AuthorizationController as authCtrl">
    <head>
        <meta charset="utf-8" />
        <title>Comment System</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>


        <link rel="stylesheet" href="/resources/css/app.css" />

        <script src="/resources/js/ui.js"></script>
        <script src="/resources/js/authorization.js"></script>
        <script src="/resources/js/user.js"></script>
        <script src="/resources/js/comment.js"></script>
        <script src="/resources/js/app.js"></script>

    </head>
    <body ng-controller="UIController as uiCtl">
        <div id="cs_app" th:attr="ng-init='authCtrl.setSign('+${user != null}+')'">
            <div id="cs_head" ng-controller="UserController as userCtl"
                 th:attr="ng-init='userCtl.user.name = \''+(${user != null} ? ${user.getName()})+'\';
                                                userCtl.user.description = \''+(${user != null} ? ${user.getDescription()})+'\';
                                                userCtl.user.id = \''+(${user != null} ? ${user.getId()})+'\';
                                                userCtl.user.password= \''+(${user != null} ? ${user.getPassword()})+'\';
                                                userCtl.user.profile_image_url = \''+(${user != null} ? ${user.getProfile_image_url()})+'\''">
                <div id="cs_join" th:class="${user != null}? cs_hidden" ng-class="{cs_hidden: authCtrl.isSignin()}">
                    <button class="btn" type="button" name="button" ng-click="uiCtl.openJoin()">회원가입</button>
                </div>
                <div id="cs_profile_info" th:class="${user == null}? cs_hidden" ng-class="{cs_hidden: !authCtrl.isSignin()}">
                    <span class="cs_name" ng-bind="userCtl.user.name"></span>
                    <span class="cs_desc">
                        (<span ng-bind="userCtl.user.description"></span>)
                    </span>
                    <button class="btn" type="button" name="button" ng-click="uiCtl.openEditProfile(userCtl.user)">프로필 수정</button>
                </div>
                <button id="cs_write" class="btn" type="button" name="button" ng-click="uiCtl.openWrite()">글쓰기</button>
            </div>
            <div id="cs_contents_wrap" ng-controller="CommentController as commentCtl">
                <div id="cs_contents" >
                    <div class="cs_content" ng-repeat="comment in commentCtl.comments">
                        <div class="cs_profile">
                            <img class="cs_image" ng-srcset="{{comment.user.profile_image_url}}" alt="" />
                            <span class="cs_name" ng-bind="comment.user.name"></span>
                        </div>
                        <span class="cs_comment" ng-bind="comment.comment"></span>
                        <div class="cs_opinion">
                            <button class="btn btn-sm" type="button" name="button" ng-click="uiCtl.like(comment, $event)">추천({{comment.like}})</button>
                            <button class="btn btn-sm" type="button" name="button" ng-click="uiCtl.dislike(comment, $event)">반대({{comment.dislike}})</button>
                        </div>
                        <button class="cs_delete btn btn-sm" type="button" name="button"
                            ng-class="{cs_hidden: !uiCtl.checkSession(comment.user.uid)}"
                            ng-click="uiCtl.requestDeleteComment(comment, $event)">삭제</button>
                        <time class="cs_time" ng-bind="commentCtl.replaceTime(comment.created_at)"></time>
                    </div>
                </div>
                <div id="cs_indicator_wrap">
                    <div id="cs_indicator">
                        <a class="cs_page_prev" href="#prev" ng-class="{cs_hidden: commentCtl.first}" ng-click="uiCtl.requestPrevPage()"> &lt; </a>
                        <div class="cs_pages">
                            <a class="cs_page" ng-href="#page{{page}}" ng-class="{cs_current_page: page == commentCtl.page}"
                                ng-repeat="page in commentCtl.pages" ng-click="uiCtl.requestPage(page)">{{page}}</a>
                        </div>
                        <a class="cs_page_next" href="#next" ng-class="{cs_hidden: commentCtl.last}" ng-click="uiCtl.requestNextPage()"> &gt; </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="cs_profile_modal" tabindex="-1" role="dialog" aria-labelledby="cs_profile_modal_label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="cs_profile_modal_label" ng-show="uiCtl.modalType == 'JOIN'">회원가입</h4>
                        <h4 class="modal-title" id="cs_profile_modal_label" ng-show="uiCtl.modalType == 'EDIT'">프로필 수정</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group" ng-class="uiCtl.checkProfileID()">
                                <label for="cs_profile_modal_id" class="col-sm-3 control-label">ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                            id="cs_profile_modal_id" placeholder="ID" ng-model="uiCtl.user.id" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="uiCtl.checkProfilePassword()">
                                <label for="cs_profile_modal_password" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control"
                                        id="cs_profile_modal_password" placeholder="Password" ng-model="uiCtl.user.password" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="uiCtl.checkProfileName()">
                                <label for="cs_profile_modal_name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                        id="cs_profile_modal_name" placeholder="Name" ng-model="uiCtl.user.name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cs_profile_modal_desc" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                        id="cs_profile_modal_desc" placeholder="Description" ng-model="uiCtl.user.description" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cs_profile_modal_photo" class="col-sm-3 control-label">Photo</label>
                                <div class="col-sm-9">
                                    <input type="file" class="form-control" id="cs_profile_modal_photo" ng-model="uiCtl.user.profile_image_file" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                ng-show="uiCtl.modalType == 'JOIN'" ng-click="uiCtl.requestJoin()">회원가입</button>
                        <button type="button" class="btn btn-primary"
                                ng-show="uiCtl.modalType == 'EDIT'" ng-click="uiCtl.requestEdit()">수정</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cs_signin_modal" tabindex="-1" role="dialog" aria-labelledby="cs_signin_modal_label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="cs_signin_modal_label">로그인</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group" ng-class="uiCtl.checkSigninID()">
                                <label for="cs_signin_modal_id" class="col-sm-3 control-label">ID</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="cs_signin_modal_id"
                                        placeholder="ID" ng-model="uiCtl.signin.id" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="uiCtl.checkSigninPassword()">
                                <label for="cs_signin_modal_password" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="cs_signin_modal_password"
                                        placeholder="Password" ng-model="uiCtl.signin.password" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="uiCtl.requestSignin()">로그인</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cs_write_modal" tabindex="-1" role="dialog" aria-labelledby="cs_write_modal_label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="cs_write_modal_label">댓글등록</h4>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="3" id="cs_write_modal_comment" placeholder="Comment" ng-model="uiCtl.comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="uiCtl.requestWriteComment()">저장</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
